@font-face {
    font-family: 'MontserratBold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/MontserratBold/montserrat-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/MontserratBold/montserrat-v12-latin-700.woff') format('woff'); /* Modern Browsers */    
  }

  @font-face {
    font-family: 'MontserratRegular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/MontserratRegular/montserrat-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/MontserratRegular/montserrat-v12-latin-regular.woff') format('woff'); /* Modern Browsers */  
  }

  @font-face {
    font-family: 'RobotoRegular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/roboto-regular/roboto-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-regular/roboto-v18-latin-regular.woff') format('woff'); /* Modern Browsers */   
  }

@font-face {
    font-family: 'KaushanScriptRegular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/kaushan-script-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/kaushan-script-v7-latin-regular.woff') format('woff'), /* Modern Browsers */      
  }