@import "./vars.css";
@import "./fonts.css";


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
h1,h2,h3{
  margin: 0;
}

p{
  margin: 0;
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}

 a{
  color: var(--text-font-link);
  text-decoration: none;
} 

 a:hover{
  color:#fce38a;
  text-decoration: none;
 } 

.container{
  width: 1200px;
  margin:0 auto;
}

.header__container{
display: flex;
justify-content: space-between;
/* align-items: center; */
line-height: 50px;
position: absolute;
top: 0;
left: 50%;
transform: translateX(-50%);
}

}

.header{
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  /* margin-bottom: 130px;
  padding-top: 28px; */
} 

.header__nav{
  display: flex;
  /* justify-content: center; */
  justify-content: space-between;
} 

.nav__list{
  list-style: none;
  display: flex;

}

.nav__cont{
  display: flex;
}

.logo-link__title{
font-weight: 700;
font-size: 30px;
line-height:36px;
font-family: 'MontserratBold', 'sans-serif';
color: var(--text-font-link);
text-decoration: none;
margin: 0;
}


.Welcome{
background:linear-gradient(0deg, rgb(252,227,138,0.9), rgb(243,129,129,0.9)),
                  url(../img/Layer15.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
padding: 230px 0;
}

.Welcome__title{
 text-align: center;
 color: var(--text-font-link);
}

.welcome__title-text{
  display: block;
}

.welcome__button{
  display: block;
  margin: 0 auto;
}



