
:root{
    --text-font-color:#999999;
    --text-font-line: #333333;
    --icon-font-link:#f38181;
    --main-font:'Montserrat',sans-serif;
    --semi-text-size:15px;
    --color-over-img: #95e1d3;
    --text-font-link: #ffffff;
    }