@import "./vars.css";
@import "./fonts.css";
@import "./media.css";


*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
 
h1,h2,h3,h4,h5,h6{
margin: 0;
}

p{
margin: 0;
}

a{
text-decoration: none;
}

.container {
width:320px;
margin:0 auto;

}

img{
max-width: 100%;
height: auto;
display: block;
}

.header-container{
position: absolute;
top: 20px;
left: 50%;
transform:translate(-50%); 
} 

.header-flex{
display: flex;
justify-content:center;
}

.title-services{
  margin-bottom: 70px;
}

.login_link{
  font-size: 14px;
  line-height:17px;
  text-align: center;
  color: var( --text-font-link);
  font-family: 'MontserratBold', 'sans-serif';
  /* border: 2px solid  var( --text-font-link); */
  box-shadow:0 0 0 2px var( --text-font-link);
  border-radius: 40px;
  padding: 10px 16px;
  box-shadow:none;
}

.login_link:hover{
 box-shadow:0 0 0 2px var(--text-font-link);
}

.background-img_photo{
background-image:url(../img/bacground.png);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-color: #1a1915;

}

.title-text{
padding: 171px 0 137px 0;
}

.mobile-logo-text{
margin-bottom: 40px;
}

.name-logo{
display: none;
}

.logo-2{
text-decoration: none;
text-align: center;
}

.name-logo-2{
font-size: 20px;
line-height: 24px;
font-family: 'MontserratBold', 'sans-serif';
color: var( --text-font-link);
text-transform: uppercase;
}

.section-intro{
text-transform: uppercase;
font-size: 30px;
line-height: 36px;
font-family: 'MontserratBold', 'sans-serif';
color: var( --text-font-link);
text-align: center;
margin-bottom: 20px;
}

.section-tittle{
font-size: 18px;
line-height: 21px;
font-family: 'RobotoLight','sans-serif';
color: var( --text-font-link);
text-align: center;
margin-bottom: 20px;
}

.button{
display: block;
font-size: 14px;
line-height: 17px;
font-family: 'MontserratBold', 'sans-serif';
color: var(--text-font-link);
background-color: #ff4e50;
height:40px;
width: 280px;
border-radius:40px;
border: none;
margin: 0 auto;
}


.section-intro-link{
font-size: 22px;
line-height: 26px;
font-family: 'MontserratBold', 'sans-serif';
color: var(--text-font-line);
text-align: center;
margin-bottom: 20px;
}

.image {
  margin: 0 auto;
}

.photo-partner_item{
  list-style: none;
  margin:0 30px 30px 30px;
}

.photo-partner-link{
position: relative;
margin-bottom: 20px;
}

.photo-name{
font-size:var(--semi-text-size);
line-height:17px;
font-family: 'MontserratBold','sans-serif';
color: var(--text-font-line);
text-align: center;
margin-bottom: 16px;
}

.text-name{
font-size:var(--semi-text-size);
line-height:17px;
font-family:'RobotoLight','sans-serif';
color: var(--text-font-color);
text-align: center;
}


 /* .button2{
  display: block;
  font-size: 14px;
  line-height: 17px;
  font-family: 'MontserratBold', 'sans-serif';
  color: var(--text-font-link);
  background-color: transparent;
  height:40px;
  width: 280px;
  border-radius:40px;
  border: none;
  margin: 0 auto;
}  */


.image{
  border-radius: 50%;
}

.sprite {
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}

.sprite-Shape-128 {
 
  width: 16px;
  height: 16px;
  background-position: -45px -45px;
}

.sprite-Shape-128::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%,50%);
  background-repeat: no-repeat;
  background-color: #ff4e50;
  width: 32px;
  height:32px;
  border-radius:50%;
  border:4px solid var( --text-font-link);
}

.sprite-Shape-153 {
  width: 16px;
  height: 17px;
  background-position: -151px -45px;
}

.sprite-Shape-153::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%,50%);
  background-repeat: no-repeat;
  background-color:#ffa507;
  width: 32px;
  height:32px;
  border-radius:50%;
  border:4px solid var( --text-font-link);
}

.sprite-Shape-155 {
  width: 13px;
  height: 16px;
  background-position: -257px -45px;
}

.sprite-Shape-155::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%,50%);
  background-repeat: no-repeat;
  background-color:#1cd7ad;
  width: 32px;
  height:32px;
  border-radius:50%;
  border:4px solid var( --text-font-link);
}

.sprite-Shape-170 {
  width: 17px;
  height: 16px;
  background-position: -45px -152px;
}

.sprite-Shape-170::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%,50%);
  background-repeat: no-repeat;
  background-color:#4e73db;
  width: 32px;
  height:32px;
  border-radius:50%;
  border:4px solid var( --text-font-link);
}

