
:root{
    --text-font-color:#666666;
    --text-font-line: #333333;
    --text-font-link: #ffffff;
    --main-font:'Montserrat', sans-serif;
    --semi-text-size:14px;
    --color-br-img: #ff4e50;
    }