
/* @font-face {
    font-family: 'RobotoSlab-Regular';
    font-style: normal;
    font-weight: 400;
    src:url('../fonts/roboto-slab-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        /* url('../fonts/roboto-slab-v7-latin-regular.woff') format('woff'); /* Modern Browsers */
  } */ */



  /* roboto-regular - latin */
@font-face {
    font-family: 'RobotoRegular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/roboto-regular/roboto-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-regular/roboto-v18-latin-regular.woff') format('woff'); /* Modern Browsers */   
  }

  @font-face {
    font-family: 'MontserratRegular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/MontserratRegular/montserrat-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/MontserratRegular/montserrat-v12-latin-regular.woff') format('woff'); /* Modern Browsers */  
  }

  @font-face {
    font-family: 'MontserratBold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/MontserratBold/montserrat-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/MontserratBold/montserrat-v12-latin-700.woff') format('woff'); /* Modern Browsers */    
  }

  @font-face {
    font-family:'YellowtailRegular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/YellowtailRegular/yellowtail-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/YellowtailRegular/yellowtail-v9-latin-regular.woff') format('woff'); /* Modern Browsers */
  } 

/* @font-face {
  font-family: 'PTSerifCaptionItalic';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/pt-serif-caption-italic/pt-serif-caption-v10-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/pt-serif-caption-italic/pt-serif-caption-v10-latin-italic.woff') format('woff'); /* Modern Browsers */
}  */


@font-face {
  font-family: 'AlegreyaItalic';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/AlegreyaItalic/alegreya-v12-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/AlegreyaItalic/alegreya-v12-latin-italic.woff') format('woff'); /* Modern Browsers */
       