
:root{
    --text-font-color: #222222;
    --main-font:'Montserrat', sans-serif;
    --semi-bg-color: #fed136;
    --main-bg-color: #ffffff;
    --semi-text-size:14px;
    --main-text-size:18px;
    }