

body {
  font-size: 14px;
  font-family:'Playfair Display',serif;
  color: #626262;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
.wrapper {
  width: 900px;
  margin: 0 auto;

}
.header {  
  padding: 40px 0 0 0;
  margin: 0 0 70px 0;
}

.nav-list {
  text-align: center;
  font-size: 0px;
}

.list_one {
  list-style: none;
  display: inline-block;
  margin: 0 80px 0 0;
  text-transform: uppercase;
  font-size: 14px;
  
}

.list_one:last-child {
  margin: 0 0 0 0;
}

.nav-link {
  text-decoration: none;
  color: #404142;
  font-size: 14px;
  line-height: 24px;
  font-family:'Playfair Display', serif;
}

.nav-link:hover {
  color:#2eb6f3;
}

main{
  font-size: 0;
  margin: 0 0 30px 0;
}

.article_line {
  display: inline-block;
  width: 420px;
  vertical-align: top;
  margin: 0 30px 0 0;
  font-size: 14px;
  margin: 0 60px 134px 0;

}

.article_line:nth-child(even) {
  margin: 0 0 0 0;
}

.article_line:nth-child(5){
margin: 0 60px 58px 0;
}

.article_line:nth-child(6){
  margin: 0 0 58px 0;
  }
 
.image {
  margin: 0 0 20px 0;
  max-width: 100%;
  height: auto;
}

.article-text {
  text-transform: uppercase;
  font-size: 14px;
  margin: 0 0 20px 0;
  font-size: 14px;
  font-family:'Ubuntu', sans-serif;
  line-height: auto;
}

.headline {
  margin: 0 0 20px 0;
  font-size: 30px;
  font-weight: normal;
  font-family:'Playfair Display', serif;
  line-height: auto;
}

<header class="header">
.text_link {
font-size: 14px;
font-family:'Playfair Display', serif;
line-height: auto;
}

.input {
  pcursor:pointer;
  display:block;
  height:60px;
  width:150px;
  line-height: 24px;
  font-size: 20px;
  text-align:center;
  margin: auto;
  border: 1px solid #626262;s
  background: transparent;
  cursor: pointer;
}

 
  
 