*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 1110px;
  margin: 0 auto;
}

.text-header {
  margin: 0 0 113px 0;
  padding-top: 40px; 
  }


.logo {ее
  float: left;
  font-family: 'Roboto', sans-serif;
  color: #555252;      
  text-transform: uppercase;
  font-weight: 300;
  text-decoration: none;
  margin: 0;
  display:block;
}

h1 {
  font-size: 30px;
}

.name::first-letter {
  font-family: 'Roboto', sans-serif;
  color:#1abc9c;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
}

.name::first-line {
 font-family: 'Roboto', sans-serif;
 font-weight: 300;
 font-size: 30px;
 color: #555252;    
}

h1{
  margin:0 0 0 0;
}


.list_one {
  list-style: none;
  float: right;
  margin: 0 30px 0 0;
}

.list_one:first-child {
  margin: 0 0 0 0px;
}
  
li{ 
margin-top: 8px;
}

.nav-link {
  text-decoration: none;
  color: #0f0101;
  font-size: 14px;
  line-height: 11px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.nav-link:hover{
color: #1abc9c
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
  
.section-title {
font-size: 48px;
text-align: center;
font-family: 'Roboto', sans-serif;
font-weight: 900;
line-height: 32px;
text-transform: uppercase;
color: #515151;
margin-bottom: 133px;
}

.section-title::after{
  content:"";
  border-bottom: 7px solid #1abc9c;
  display:block;
  margin: 0 auto;
  margin-top: 32px;
  /* height:7px ; */
  width: 164px ;
  }


.image {
   display: block; 
   height: auto;
   max-width: 100%;
 }

.featured-photo {
  list-style: none;
  float:left;
  height: 322px;
  width: 255px ;
  background-color: #e9f0fd;

}

.featured-photo:not(:nth-child(4n)){
  margin-right: 30px;
}

.featured-photo:not(:nth-last-child(-n+4)) {
  margin-bottom: 30px;
}


.title-name  {
  background: #323232;
  padding-left: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  transition: .2s;
}



.featured-photo:hover .title-name {
  background-color: #1abc9c;
  cursor: pointer;
}


.imet-title {
  float:left;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 40px;
  font-weight: 900;
  height: 40px;
  color: #ffffff;
  margin: 0 auto;
}

.price-title {
  float: right;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 40px;
  font-weight: 900;
  width: 54px;
  height: 40px;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.44) ;
  text-align: center;
}
 
.section-news {
font-size: 48px;
text-align: center;
font-family: 'Roboto', sans-serif;
font-weight: 900;
line-height: 32px;
text-transform: uppercase;
color: #515151
}

