/* font-family: 'Montserrat', sans-serif;
font-family: 'Kaushan Script', cursive;
font-family: 'Roboto', sans-serif; */
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
 
/* body{
 background: red;
} */

.wrapper {
width: 1200px;
margin:0 auto;
}

.container{
 width: 1200px;
 margin:0 auto;
}

img{
max-width: 100%;
height: auto;
display: block;
}

.header-container {
margin-bottom: 130px;
padding-top: 28px;
}

.container{
display: flex;
justify-content: space-between;
align-items: center;
line-height: 50px;
}

.logo{
text-decoration: none;
}

.name-logo{
font-weight: 700;
font-size: 30px;
line-height:36px;
font-family:'Montserrat', sans-serif;
color: #95e1d3;
text-decoration: none;
margin: 0;
}

.nav-list{
display: flex;
list-style: none;
justify-content: space-between;
}

.nav-link {
  position: relative;
  display: block;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color:#95e1d3;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  text-transform: uppercase;
  transition:.2s;
  /* margin-right: 55px; */
}


 .list_one:not(:last-child){
  margin: 0 55px 0 0;
} 


.nav-link::after{
  position: absolute;
  content:"";
  background-color: #95e1d3;
  margin-top: 12px;
  height: 3px;
  width: 100%;
  display: none;
  transition: color 2s linear;
}

 .nav-link:hover{
  color: #f38181;
  transition:2s;
  }

.nav-link:hover::after{
 display:block;
 background-color: rgb(243, 129, 129);
 transition: color 2s linear;
} 


.section-intro{
font-size:24px;
font-family: 'Kaushan Script', cursive;
line-height:29px;
font-weight:400;
text-align: center;
color: #333333;
margin-bottom: 112px;
}

.section-intro::after{
content:"";
border-bottom: 3px solid #f38181;
display:block;
margin: 0 auto;
margin-top: 43px;
width:60px;
}

.section-tittle{
display: block;
font-size:30px;
font-family: 'Montserrat', sans-serif;
line-height:36px;
font-weight:700;
text-align: center;
color: #333333;
text-transform: uppercase;
padding-top:20px;
}

.features{
display: flex;
flex-wrap: wrap;
list-style: none;
justify-content: space-between;
margin-bottom: 94px;
}

.features-list{
padding-left: 80px;
width:380px;
}

.features-list:not(:nth-last-child(-n+3)) {
  margin-bottom:102px;
 }

.features-item{
font-size: 14px;
color: #333333;
font-family: 'Montserrat', sans-serif;
line-height:17px;
font-weight:400;
text-transform: uppercase;
margin-bottom: 20px;
}

.features-text{
font-size: 15px;
color:#999999;
font-family: 'Roboto', sans-serif;
line-height:24px;
font-weight:400;
}

.icon-clock{
background-repeat: no-repeat;
color: #95e1d3;
font-size: 14px;
background-image: url(../img/clock.png);
}

.icon-design{
background-repeat: no-repeat;
color: #95e1d3;
font-size: 14px;
background-image: url(../img/design.png);
}

.icon-computer{
background-repeat: no-repeat;
color: #95e1d3;
font-size: 14px;
background-image: url(../img/computer.png);
}

.icon-book{
background-repeat: no-repeat;
color: #95e1d3;
font-size: 14px; 
background-image: url(../img/book.png);
}

.icon-house{
background-repeat: no-repeat;
color: #95e1d3;
font-size: 14px;  
background-image: url(../img/home.png);
}

.icon-digital{
background-repeat: no-repeat;
color: #95e1d3;
font-size: 14px;  
background-image: url(../img/image.png);
}

.section-question{
font-size:24px;
font-family: 'Kaushan Script', cursive;
line-height:29px;
font-weight:400;
text-align: center;
color: #333333;
margin-bottom: 92px;  
}

.section-question::after{
content:"";
border-bottom: 3px solid #f38181;
display:block;
margin: 0 auto;
margin-top: 43px;
width:60px;
}

.selection-team{
display: block;
font-size:30px;
font-family: 'Montserrat', sans-serif;
line-height:36px;
font-weight:700;
text-align: center;
color: #333333;
padding-top: 20px;
text-transform: uppercase;
}

.features-text-t{
font-size:15px;
line-height:24px;
font-weight:400;
font-family: 'Roboto', sans-serif;
text-align: center;
color:#999999;
margin-bottom:96px;
}

.features-info{
display: flex;
flex-wrap: wrap;
list-style: none;
justify-content: space-between;
margin-bottom: 83px;
}

.features-photo{
  width: 380px;
}


.features-photo:hover .overlay{
opacity: 1;
 }

.features-photo:hover .image-cont{
top: -10px;
left: -10px;
box-shadow: 10px 10px 0px 0px rgb(149, 225, 211);
}
  
.image-cont{
position: relative;
transition:0.5s;
top: 0;
left: 0;
}

.image{
display: block; 
height: auto;
max-width: 100%;
margin-bottom:30px;
}

.overlay{  
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-image:linear-gradient( 0deg, rgba(252, 227, 138, 0.9), rgba(243,129,129, 0.9)); 
transition:0.5s;
opacity: 0;
}

.icons{
display: flex;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
  
.icons-img{
display: flex;
background-color:#fce38a;
width: 56px;
height: 56px;
list-style: none;
}
  
.icons-img:hover{
background-color: #95e1d3;
}
  
.icons-img:not(:last-child){
 margin: 0 1px 0 0;
}

.sprite {
background-image: url(../img/spritesheet.png);
background-repeat: no-repeat;
display:block;
margin: auto; 
}
  
.sprite-facebook {
width: 13px;
height: 26px;
background-position: -5px -5px;
}
  
.sprite-twitter {
width: 26px;
height: 22px;
background-position: -5px -85px;
}
  
.sprite-pinterest {
width: 21px;
height: 26px;
background-position: -81px -45px;
}
  
.sprite-instagram {
width: 26px;
height: 26px;
background-position: -5px -45px;
}

.text{
text-align: center;
}
  
.name{
font-size:14px;
line-height:17px;
font-weight:400;
font-family: 'Montserrat', sans-serif;
color: #333333;
text-transform: uppercase;
margin-bottom: 12px;
}
  
.signature{
font-size:15px;
line-height:24px;
font-weight: 300;
font-family: 'Roboto', sans-serif;
font-style: italic;
}
  
.footer{
border-top: 1px solid #cccccc;
padding: 10px 0 10px 0;
}

.footer-link{
display: flex;
flex-wrap: wrap;
list-style: none;
justify-content: space-between;
align-items: center;
font-weight:300;
color: #999999;
}

.footer-text{
text-align: center;
color: #333333;
font-size:14px;
line-height:17px;
font-weight:400;
font-family: 'Montserrat', sans-serif;
}

.allotment{
text-decoration:none;
color:#f38181;
}

.input-item{
font-size: 0;
}

.input{
font-size: 15px;
color:#cccccc;
line-height:24px;
font-family: 'Roboto', sans-serif;
font-style: italic;
font-weight:300;
height:39px;
width: 229px;
}

.button{
font-size:14px;
color: #ffffff;
line-height:17px;
background-color:#95e1d3;
font-family: 'Montserrat', sans-serif;
font-weight:700;
height: 39px;
width: 150px;
text-transform: uppercase;
border: none;
cursor: pointer;
}



